/***
    Chargement des polices
 */

 @font-face {
    font-family:"poppins-bold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "poppins-SemiBold";
    src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "poppins-Medium";
    src: url("fonts/Poppins-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "poppins-Regular";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-display: swap;
}


