@import url(fonts.css);
@import url(root.css);

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Style du toggle switch */
.toggle-circle {
  position: relative;
  width: 50px;
  height: 20px;
  background: hsl(0, 5%, 81%);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background: hsl(25, 98%, 40%);
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.circle:hover {
    background: var(--result-hover);
    transform: scale(1.02);
    transition: 0.3s ease;
}


body {
    background-image: url('fancy.png');
    background-size: cover;         /* L’image remplit tout l’espace */
    background-repeat: no-repeat;   /* Pas de répétition */
    background-position: fill;
}
.plan {
    background-color:var(--bg-main);
}

.textCalc{
    font-family: var(--ff-bold);
    font-size: var(--fs-lg);
    color: var(--text-color);   
}

.textToggle{
    font-family: var(--ff-bold);
    font-size: var(--fs-xxs);
    color: var(--text-color); 
      
}


.ecran {
    background-color: var(--bg-screen);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--text-color);
    font-family: var(--ff-bold);
    font-size: var(--fs-xxxl);
}

.calc {
    background-color: var(--bg-keypad);
    contain: content;
}

.chiffre{
    background-color: var(--key-color);
    box-shadow: 0px 5px 0px var(--key-shadow);
    border: none;
    border-radius: 5px;
    height: 50px;
    font-family: var(--ff-semiBold);
    font-size: var(--fs-lg);
    margin: 0px 10px 15px 0px;
    color:  var(--key-text);
    
}
.chiffre:hover {
    background-color: var(--key-hover);
    transform: scale(1.02);
    transition: 0.3s ease;

}

.resetBut {
    background-color: var(--del-color);
    box-shadow: 0px 5px 0px var(--del-shadow);
    border: none;
    border-radius: 5px;
    height: 50px;
    font-family: var(--ff-semiBold);
    font-size: var(--fs-lg);
    margin: 0px 10px 15px 0px;
    color:  white;
}
.resetBut:hover {
    background-color: var(--del-hover);
    transform: scale(1.02);
    transition: 0.3s ease;
}

.resultBut {
    background-color: var(--result-color);
    box-shadow: 0px 5px 0px var(--result-shadow);
    border: none;
    border-radius: 5px;
    height: 50px;
    font-family: var(--ff-semiBold);
    font-size: var(--fs-lg);
    margin: 0px 10px 15px 0px;
    color:  var(--text-result);
}

.resultBut:hover {
    background-color: var(--result-hover);
    transform: scale(1.02);
    transition: 0.3s ease;
}